<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dimfcompany.com.pdfinfoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalHelper"
        android:allowBackup="true"
        android:icon="@drawable/iconlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActFirst"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActItemsScroll" />
        <activity android:name=".ActPdfView" />
        <activity
            android:name=".Act_Download_Dialog"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ActUpdateDialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ActUrlScroll" />
        <activity
            android:name=".ActLogin"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".Act_No_Internet_Dialog"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".Act_Privacy"
            android:theme="@style/Theme.Transparent"
            ></activity>
    </application>

</manifest>